.app {
	color: #282c34;
  text-align: center;
}

.appHeader {
  background-color: #016e70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px);
  color: #fff;
	margin-bottom: 24px;
}

.headerPrefix {
	font-size: 16px;
	display: block;
	text-align: left;
}